.loading{
    width:30vw;
    margin-left: 35vw;
    margin-top: 10vh;
    animation-name: completarCarga;
    animation-duration: 2s;
}
.loading-text{
    width: 100vw;
    text-align: center;
}
@keyframes completarCarga {
    
    0%{
        opacity: 1;;
    }
    25%{opacity:0;
}
50%{
    opacity: 1;;
}
75%{opacity:0;
}

100%{opacity:1;
}
}
.listProducts{
    animation-name: loadingProducts;
    animation-duration:1s;
}
@keyframes loadingProducts{
    from{
        opacity:0;
    }
    to{opacity:1}
}
.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-discount-label{
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .add-to-cart{
    background: #A5BA8D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
    
}