
.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: #2596be;
    font-weight: 700
}

.about {
    font-size: 14px
}

.cart i {
    margin-right: 10px
}