.loadingImg {
    width: 20vw;
    margin-left: 40vw;
    margin-top: 6vh;
    margin-bottom: 2vh;
    animation-name: completarCarga;
    animation-duration: 2s;
}

.loading-text {
    width: 100vw;
    color: #2596be;
    text-align: center;
}

@keyframes completarCarga {

    0% {
        opacity: 0;
        ;
    }

    10% {
        opacity: 1
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        ;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animationOpacity {
    animation-name: loadingProducts;
    animation-duration: 2s;
}

@keyframes loadingProducts {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.product-grid .product-image {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-grid .product-image .image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}

.product-grid .product-discount-label {
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}

.button-item-detail {
    background-color: #2696be !important;
    color: white !important;
    width: 200px;
}




.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: #2596be;
    font-weight: 700
}

.about {
    font-size: 14px
}

.cart i {
    margin-right: 10px
}

.cancelItemDetail {
    width: 100%;
}



@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }

}