.order{
    background-color: #2696be;
    width: 96%;
    height: 80vh;
    margin:2%;
    padding:2rem;
    color:white;
    border-radius: 10px;
    text-align: center;
}
.orderImg{
    display:block;
    width:13vw;
    margin-left: auto;
    margin-right: auto;
}
